article {
    width: 300px;
    height: auto;
    border: 1px solid rgba(255,255,255,0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 2px 2px 25px rgba(255,255,255,0.4);
    backdrop-filter: blur(10px);
    color: white;
    padding: 10px;
    margin: 10px;
}

article h4 {
    text-decoration: underline;
    font-weight: 900;
    margin: 0;
    padding: 10px;
    font-size: 100%;
}

article div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

article div p {
    margin: 0;
    padding: 10px;
}

article div p:nth-child(1)::before {
    content: 'Type : ';
    font-weight: 700;
    text-decoration: underline;
}

article div p:nth-child(2)::before {
    content: 'Race : ';
    font-weight: 700;
    text-decoration: underline;
}

article img {
    display: block;
    width: 168px;
    height: 246px;
    border: 1px solid white;
}
